input:disabled,input[disabled]{
    background-color: red;
    border-color: rgba(255, 0, 0, 0.3);
}
.logo{
    width: 15%;
    height: 15%;
}


input[type="checkbox"] {
    accent-color: rgb(47, 134, 47);
}

.seatgrid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(10, 7.9%);
    grid-gap: 1%;
}

.seatgrid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.seatgrid > *:first-child{
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
